# Python bytecode (prevents those annoying __pycache__ folders)
__pycache__/
*.py[cod]
*$py.class

# Environment files (NEVER upload your local secrets)
.env
.streamlit/secrets.toml

# Virtual Environments
venv/
env/
.venv/

# OS-specific junk
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

#Other
.streamlit/secrets.toml